<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/styles.css">
  <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
  <script src="static/get_spotify.js"></script>
  <title>Spotify searcher</title>
  <script></script>
</head>
<body>
  <div class="logged_out">`
    <h1>Spotify</h1>
    <h3>Hello, log yourself in here</h3>
    <div class="me">
      <form onsubmit="logIn();return false">
        <input type="submit" value="Log me in">
      </form>
    </div>
  </div>
  <div class="logged_in">
    <div class="artists">
      <form onsubmit="getArtist();return false">
        <input type="submit" value="get artist">
      </form>
    </div>
    <hr>
    <div class="recommendations">
      <form onsubmit="getRecommendations();return false">
        <input type="submit" value="Get recommendations">
      </form>
    </div>
    <hr>
    
  </div>
</body>
</html>
